.main {
    width: 100%;
    background-color:#14213d;
    background-image: radial-gradient(#bfdbf7 1px, transparent 1px), radial-gradient(#bfdbf7 1px, transparent 1px);
    background-size: 100px 100px;
    background-position: 0 0, 50px 50px;
    padding: 0;
    margin: 0;
    font-family: Andale Mono;
    color: #fca311;
}

.container {
    border: none;
    padding-top: 100px;
}